__pycache__/*
squidRedirector-0.1-1.fc31.src.rpm
x86_64/squidRedirector-0.1.tar.gz
squidRedirector-0.1/README.md
squidRedirector-0.1/redirector.conf
squidRedirector-0.1/rsyslog_redirector.conf
squidRedirector-0.1/squidRedirector.py
squidRedirector-0.1.tar.gz
